body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.weatherapp{
    border: 1px solid black;
    height : 300px;
    width: 650px;
    /* gap: 25px;
    padding: 15px; */
}
.head{
    text-align: center;
}

.search{
    text-align: center;
    width: 400px;
    padding-left: 100px;
}
/* designing the search area */ 
/* .searchData {
    border: 1px solid black;
  } */

.searchData input {
    /* border: transparent; */
    padding: 5px;
}
  
.searchData button {
    /* border: transparent; */
    padding: 5px 15px;
    cursor: pointer;
}
.cntrydetails{
    display: flex;
    justify-content: space-around;
}
.temp_details{
    display: flex;
    justify-content: space-around;
}
.country{
    text-align: center;
}
.temp{
    text-align: center;
}