body{
    background-color: black;
    color: #fff;
}
nav,ul{
    display: flex;
    list-style: none;
}

.logo{
    height: 50px;
    width: 100px;
}
.head4options{
    align-content:center;
    width: 500px;
    justify-content: space-evenly;
    margin-left: 200px;
    font-size:small;
    font-weight:lighter;
}

.head2options{
    align-content:center;
    width: 200px;
    justify-content: space-evenly;
    margin-left: 200px;
    font-size:small;
    font-weight:lighter;
    display: flex;
    position: relative;
    padding-top: 15px;
}
.btn-pink{
    height: 20px;
}
.contactus{
    position: absolute;
    padding-left: 120px;
    padding-top: 3px;
}
.section1{
    display: flex;
    position: relative;
    margin-left: 10px;
}
.section1_text
{
    width: 50%
}
.section1_h1{
    font-size: 70px;
    font-weight: 100;
    color: rgb(239, 244, 248);
    width: 780px;
}
#section1_h1_OC{
    color: rgb(242, 51, 242);
    font-size: 90px;
    font-weight: 300;
}
.section1_text_p
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(140, 152, 164);
    width: 490px;
}
#get_started{
    font-size: small;
    position: absolute;
    margin-left: -25px;
    padding-top: 3px;
    font-family:'Courier New', Courier, monospace;
    /* border: solid 1px yellow;  */
}
#rightarrow{
    width: 40px;
    margin-left: 70px;
    margin-bottom: 8px;
}
.users{
    display: flex;
    margin-top: 40px;
    align-content: center;
}
.users_nos{
    font-size: 30px;
    color: #efefef;
    font-weight: 700;
}
.users_plus{
    
    color: rgb(185, 5, 134);
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    padding-top: 5px;
    
}
.users_text{
        margin-left: 20px;
    align-content: center;
    padding-right: 60px;
    width: 80px;
}
.section1_photo{
    position: absolute;
    width: 50%;
    margin-left: 300px;
    margin-top: 0px;
    padding-bottom: 100px;
    
}
.backcard{
    width: 700px;
    padding-left: 100px;
}
.frontcard{
    position: absolute;
    margin-top: -500px;
    margin-left: 100px;
}
.log_head{    
    margin-top: 400px;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    background-color: rgb(40, 35, 35);
    padding-top: 40px;
    padding-bottom: 40px;
}
.page2_s2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 400px;
    width: 100%;
}
.page2_s2_left{
    width: 50%;
    font-size: 30px;
    font-weight: 50;
    margin-left: 60px;
}
#page2_s2_pink{
color: rgb(169, 31, 160);
}
.page2_s2_right{
    width: 25%;
    margin-right: 130px;
    height: 90px;
    color: silver;
}
.page_s3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 300px;
    position: relative;
}
#dollar{
    border: 2px solid silver;
    background-color: rgb(17, 16, 16);
    height: 180px;
    width: 240px;
    text-align: center;
}
#cloud{
    border: 2px solid silver;
    background-color: rgb(60, 55, 55);
    height: 180px;
    width: 240px;
    text-align: center;
    margin-bottom: 70px;
}
#lock{
    border: 2px solid silver;
    background-color: rgb(17, 16, 16);
    height: 180px;
    width: 240px;
    text-align: center;
}
.page_s3> div>img{
    height: 90px;
}
.page_s3> div>h4{
    width: 140px;
    text-align: center;
    margin-left: 50px;
    font-size: 15px;
}
#cloud_anytime{
    width: 180px;
   
    text-align: center; 
    margin-left: 30px;
    margin-bottom: 20px;
}
.unique{
 background-color: #efe8effa;
 height: 150vh
}
.unique>h1{
    color: black;
    text-align: center;
    font-size: 40px;
    font-weight: 50;
}
.unique>h3{
    text-align: center;
    color: rgb(174, 71, 177);
    font-weight: 200;
    font-size: 40px;
}
.unique>p{
    text-align: center;
    color: rgba(0, 0, 0, 0.541);
    width: 450px;
    margin-left: 380px;
}
.unique>img{
    height: 700px;
    margin-left: 220px;
    margin-top: -40px;
}
.feedback{
    background-color: black;
    color: white;
    text-align: center;
}
.feedback>h1{
    font-size: 50px;
    font-weight: 50;
    height: 150px;
    
    width: 550px;
    margin-left: 300px;
}
.feedback>h1>span{
    color: rgb(174, 71, 177);
}
.feedback>p{
    color: rgb(229, 216, 216);
    text-align: center;
    width: 350px;
    margin-left: 400px;
}
.custom{
    /* border: 2px solid red;  */
    position: relative;
}
#pic_6773{
    position: absolute;
    z-index: -1;
    width: 100%;
}
#pic_6774{
    width: 100%;
}
.custom>.text{
    /* border: 2px solid red;  */
    position: absolute;
}